* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
li{
    list-style-type: none;
}
.testgit{
    color: red;
}
div{
    width: 100%;
    display: inline-block;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-x: auto;
}
.a_colors{
    a[href*="page1"]{
        color: red;
    }
    a[href*="page2"]{
        color: orange;
    }
    a[href*="page3"]{
        color: yellow;
    }
    a[href*="page4"]{
        color: green;
    }
    a[href*="page5"]{
        color: cyan;
    }
}
.just_a_div{
    p{
        color:blueviolet;
    }
}
.image_radius{
    border-radius: 10%;
    border: 3px solid #fff;
    box-shadow: 2px 1px 5px #999999;
}
.section_in_div > p{
    color: aqua;
}
.selector_sequence{
    h3 + p{
        color: red;
        font-style: italic;
    }
}
.selector_sequence_all{
    h2 ~ p{
        color: yellow;
        font-weight: bold;
    }
}
.parent{
    color: magenta;
}
.child{
    font-style: italic;
}
.pseudo{
    position: relative;
    padding: 25px 35px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .pseudo:hover {
    color: transparent;
  }
  
  .pseudo:hover::after {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pseudo_not:not(.not){
    color: blue;
  }
  .not{
    color: blueviolet;
  }
  .pseudoelement_pointer{
    h1::before{
        content: '►';
        color: yellowgreen;
    }
  }
  .pseudoelement_star{
    h3::after{
        content: '★';
        color: greenyellow;
    }
  }