* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  margin: 20px;
  color: #00346E;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  border: 3px solid yellow;
  width: 100%;
  height: 100px;
  background-color: #FE482A;
  margin-top: 20px;
  clear: both;
}

.left {
  border: 1px solid yellow;
  margin: 10px;
  width: 175px;
  height: 65px;
  float: left;
  background-color: #00346E;
}

.right {
  border: 1px solid yellow;
  margin: 10px;
  width: 175px;
  height: 65px;
  float: right;
  background-color: #00346E;
}


.block {
  border: 3px solid yellow;
  width: 100%;
  height: 175px;
  background-color: #FE482A;
  clear: both;
  margin-top: 20px;
}

.block-first {
  float: right;
  width: 390px;
}

.block-first__main {
  width: 175px;
  height: 150px;
  margin: 10px;
  background-color: #00346E;
  border: 1px solid yellow;
  right: 50px;
  float: left;
}

.block-first__top {
  width: 175px;
  height: 65px;
  margin: 10px;
  background-color: #00346E;
  border: 1px solid yellow;
  float: right;
}

.block-first__bottom {
  width: 175px;
  height: 65px;
  float: right;
  margin: 10px;
  background-color: #00346E;
  border: 1px solid yellow;
}

.block-second {
  float: left;
  width: 50%;
}

.block-second__right {
  float: right;
  width: 175px;
  height: 150px;
  background-color: #00346E;
  border: 1px solid yellow;
  margin: 10px;
}

.block-third {
  float: right;
  width: 50%;
}

.block-third__top {
  width: 175px;
  height: 65px;
  float: left;
  margin: 10px;
  background-color: #00346E;
  border: 1px solid yellow;

}

.block-third__bottom {
  width: 175px;
  height: 65px;
  float: left;
  margin: 10px;
  background-color: #00346E;
  border: 1px solid yellow;
  clear: both;
}